<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="journalS">
            <h2><span>Journal S</span> {{journalS.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Object Id</span></dt>
                <dd>
                    <span>{{journalS.objectId}}</span>
                </dd>
                <dt><span>Object Name</span></dt>
                <dd>
                    <span>{{journalS.objectName}}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{journalS.productId}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{journalS.title}}</span>
                </dd>
                <dt><span>Short Title</span></dt>
                <dd>
                    <span>{{journalS.shortTitle}}</span>
                </dd>
                <dt><span>Primary Language</span></dt>
                <dd>
                    <span>{{journalS.primaryLanguage}}</span>
                </dd>
                <dt><span>Company Group</span></dt>
                <dd>
                    <span>{{journalS.companyGroup}}</span>
                </dd>
                <dt><span>Publisher</span></dt>
                <dd>
                    <span>{{journalS.publisher}}</span>
                </dd>
                <dt><span>Publishing Segment</span></dt>
                <dd>
                    <span>{{journalS.publishingSegment}}</span>
                </dd>
                <dt><span>Imprint</span></dt>
                <dd>
                    <span>{{journalS.imprint}}</span>
                </dd>
                <dt><span>Medium</span></dt>
                <dd>
                    <span>{{journalS.medium}}</span>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{journalS.creationDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/journal-s', journalS.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
